#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  padding: 0;
  list-style: none;
  margin-bottom: 2rem;
}

.nav-menu li > a {
  color: dodgerblue;
  text-decoration: none;
  text-underline-offset: 6px;
}

.nav-menu li > a:hover {
  filter: brightness(80%);
}

.breadcrumb {
  font-size: 0.9rem;
}

.main-content {
  margin: 2rem 0;
}

.home-skeleton {
  max-width: 10rem;
}

footer {
  margin: 2rem 0;
}
